body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f9f9f9;
}

#main {
    max-width: 600px;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

#output {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#field {
    display: grid;
    grid-template-columns: repeat(3, 80px);
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.square {
    width: 60px;
    height: 60px;
    background-color: #ddd;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 10px;
}

.square:hover {
    background-color: #ccc;
}

.square:active {
    background-color: #bbb;
}

button {
    display: inline-block;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
}

button:hover {
    background-color: #0056b3;
}

button:active {
    background-color: #004080;
}
.winning-square {
    background-color: yellow !important;
}
/* Медиа-запросы для адаптации под разные устройства */

/* Планшеты (портретная ориентация) */
@media (max-width: 768px) {
    body {
        font-size: 14px;
    }

    h1 {
        font-size: 22px;
    }

    h2 {
        font-size: 16px;
    }

    .square {
        font-size: 40px;
    }

    button {
        padding: 10px 20px;
    }
}

/* Смартфоны (портретная ориентация) */
@media (max-width: 480px) {
    body {
        font-size: 12px;
    }

    h1 {
        font-size: 20px;
    }

    h2 {
        font-size: 14px;
    }

    .square {
        font-size: 30px;
    }

    button {
        padding: 8px 16px;
    }
}

